<!DOCTYPE html>
<html>
    <head>
        <title>hello</title>
        <style>
            body{
                background-color:ghostwhite;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
            h1{
                color:darkcyan;
            }
            h3{
                text-indent: 20px;;
            }
        </style>
    </head>
    <body>
    <h1>DEPLOYEMENT</h1>
    <div>
        <p> <h3>ipsum dolor sit amet consectetur,</h3>
            adipisicing elit. Tenetur adipisci 
            quibusdam culpa. Possimus iure doloremque 
            qui aperiam recusandae earum saepe laborum 
            harum omnis, autem, veniam est
            repellendus deleniti magnam at!</p>
    </div>
    
    </body>
</html>